#stopwatch {
  background-color: rgba(0, 0, 0, 0.25);
  background-color: darkolivegreen;
  padding: 20px;
}

h1 {
  margin-top: 0;
}

#timer {
  font-size: 20px;
  color: orange;
  color-scheme: dark;
  margin-bottom: 16px;
}
