#stopwatch {
  background-color: rgba(0, 0, 0, 0.25);
  background-color: darkolivegreen;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-top: 0;
}

#timer {
  font-size: 20px;
  color: violet;
  color-scheme: dark;
  margin-bottom: 16px;
}

.btn {
  background-color: violet;
  color: darkolivegreen;
  border: 1px dotted yellow;
  border: 2px dotted darkolivegreen;
  margin: 0 12px;
}
